services:

  movement-restore-db:
    image: ghcr.io/movementlabsxyz/movement-full-node:${CONTAINER_REV}
    container_name: movement-restore-db
    environment:
      - DOT_MOVEMENT_PATH=/.movement
      - MOVEMENT_TIMING=info
      - SUZUKA_TIMING_LOG=/.movement/movement-timing.log
      - RUST_BACKTRACE=1
      - AWS_REGION=${AWS_REGION}
      - SYNC_BUCKET=${SYNC_BUCKET}
      - SYNC_PATTERN=${SYNC_PATTERN}
    command: backup restore $SYNC_BUCKET $SYNC_PATTERN
    volumes:
      - ${DOT_MOVEMENT_PATH}:/.movement