services:

  movement-backup-db:
    image: restic/restic
    container_name: movement-restore-db
    environment:
      - AWS_REGION=${AWS_REGION}
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - RESTIC_HOST=${RESTIC_HOST}
      - SYNC_BUCKET=${SYNC_BUCKET}

    command: -r s3:s3.${AWS_REGION}.amazonaws.com/${SYNC_BUCKET}/restic_node_backup --host ${RESTIC_HOST} restore latest --target . --include /.movement/maptos --include /.movement/maptos-storage --include /.movement/movement-da-db --include /.movement/default_signer_address_whitelist
    volumes:
      - ${DOT_MOVEMENT_PATH}:/.movement