[package]
name = "movement-signer-setup"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = { workspace = true }
movement-signer-config = { workspace = true }

[lints]
workspace = true
