[submodule "protocol-units/dispute/lib/forge-std"]
	path = protocol-units/settlement/mcr/contracts/lib/forge-std
    url = https://github.com/foundry-rs/forge-std
[submodule "protocol-units/dispute/lib/openzeppelin-contracts"]
	path = protocol-units/settlement/mcr/contracts/lib/openzeppelin-contracts
    url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "protocol-units/dispute/lib/murky"]
	path = protocol-units/settlement/mcr/contracts/lib/murky
	url = https://github.com/dmfxyz/murky

[submodule "protocol-units/settlement/mcr/contracts/lib/openzeppelin-foundry-upgrades"]
	path = protocol-units/settlement/mcr/contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "protocol-units/settlement/mcr/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = protocol-units/settlement/mcr/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "protocol-units/settlement/mcr/contracts/lib/openzeppelin-contracts"]
	path = protocol-units/settlement/mcr/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "protocol-units/settlement/mcr/contracts/lib/forge-std"]
	path = protocol-units/settlement/mcr/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "protocol-units/settlement/mcr/contracts/lib/murky"]
	path = protocol-units/settlement/mcr/contracts/lib/murky
	url = https://github.com/dmfxyz/murky
