.DS_Store
proc-compose.temp.log
methods/guest/Cargo.lock
networks/movement/movement-client/src/move-modules/build/*
util/format-module-bytes/build/*
.idea/
target/
ledger_db/
state_merkle_db/
.etc
.movement
.movement*
.idea
.vscode
.data
node_modules/
.env
.aptos
profile.json
./docker/compose/grafana-alloy/.env
*.dat
*.log
test_log.txt
test_result.txt
venv
*.pem
*.jot.*
*.jot
*.env
*.envrc.local
.debug
.out
.direnv
