.DS_Store
proc-compose.temp.log
methods/guest/Cargo.lock
protocol-units/bridge/move-modules/.aptos/*
protocol-units/bridge/move-modules/build/*
protocol-units/bridge/contracts/cache/*
protocol-units/bridge/contracts/out/*
.idea/
target/
ledger_db/
state_merkle_db/
.etc
.movement
.idea
.vscode
.data
.env
.aptos
