
[submodule "zkfp/vendors/move"]
	path = zkfp/vendors/move
	url = https://github.com/movemntdev/move
	branch = zkp
[submodule "movement-sdk/vendors/aptos-core"]
	path = movement-sdk/vendors/aptos-core
	url = https://github.com/movemntdev/aptos-core
	branch = canonical
[submodule "movement-sdk/vendors/asui"]
	path = movement-sdk/vendors/asui
	url = https://github.com/movemntdev/sui
	branch = canonical
[submodule "vendors/x25519-dalek"]
	path = movement-sdk/vendors/x25519-dalek
	url = https://github.com/movemntdev/x25519-dalek
[submodule "vendors/ed25519-dalek"]
	path = movement-sdk/vendors/ed25519-dalek
	url = https://github.com/movemntdev/ed25519-dalek
[submodule "m2/contracts/eth-settlement/lib/forge-std"]
	path = m2/contracts/eth-settlement/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "m2/contracts/eth-settlement/lib/openzeppelin-contracts"]
	path = m2/contracts/eth-settlement/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
