# global
* @0xmovses  @musitdev

# maptos-executor
protocol-units/execution/* @0xmovses @musitdev 

# da
protocol-units/da/*   @musitdev @0xmovses

# mempool
protocol-units/mempool/*   @musitdev @0xmovses

# sequencing
protocol-units/sequencing/*   @musitdev @0xmovses

# movement-rest
protocol-units/movement-rest/* @0xmovses  

# mcr client
protocol-units/settlement/mcr/client/* @musitdev  

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev  

# mcr contracts
protocol-units/settlement/mcr/contracts/*  @0xPrimata 

# networks
networks/*   @musitdev @0xmovses

# docker
docker/*  @radupopa369

# process-compose
process-compose/*  @radupopa369 @musitdev @0xmovses

# docs
docs/*   @musitdev @0xmovses

# nix
nix/*  @musitdev  @0xmovses

# github actions
.github/workflows/*   @0xmovses  @musitdev 

# buildtime 
util/buildtime/*  @0xmovses  @musitdev 

# flocks 
util/flocks/*   @0xmovses  

# commander 
util/commander/*  @musitdev @0xmovses  

# godfig
util/godfig/*   @musitdev @0xmovses 

