# global
*   @andygolay 0xmovses @mzabaluev @musitdev

# maptos-executor
protocol-units/execution/* @0xmovses @musitdev @mzabaluev

# da
protocol-units/da/* @andygolay @mzabaluev

# mempool
protocol-units/mempool/* @andygolay @mzabaluev

# sequencing
protocol-units/sequencing/* @andygolay @mzabaluev

# movement-rest
protocol-units/movement-rest/* @0xmovses @mzabaluev

# mcr client
protocol-units/settlement/mcr/client/* @musitdev @mzabaluev @andygolay

# mcr manager
protocol-units/settlement/mcr/manager/* @musitdev @mzabaluev @andygolay

# mcr contracts
protocol-units/settlement/mcr/contracts/* @andygolay @0xPrimata 

# networks
networks/* @andygolay @mzabaluev @musitdev

# docker
docker/* @andygolay @radupopa369

# process-compose
process-compose/* @andygolay @radupopa369 @musitdev

# docs
docs/* @andygolay

# nix
nix/* @andygolay @musitdev 

# github actions
.github/workflows/* @andygolay  @0xmovses @mzabaluev

# buildtime 
util/buildtime/* @andygolay

# flocks 
util/flocks/* @andygolay @mzabaluev

# commander 
util/commander/* @andygolay @musitdev

# godfig
util/godfig/* @andygolay @mzabaluev
