[Unit]
Description=Suzuka Full Follower
After=network.target

[Service]
Type=simple
User={{ user }}
WorkingDirectory=/home/{{ user }}/movement
Environment="DOT_MOVEMENT_PATH=/home/{{ user }}/.movement"
Environment="CONTAINER_REV={{ rev }}"
Environment="MOVEMENT_SYNC={{ movement_sync | default_lookup('env', 'MOVEMENT_SYNC') }}"
Environment"CELESTIA_RPC_CONNECTION_PROTOCOL={{ celestia_rpc_connection_protocol | default_lookup('env', 'CELESTIA_RPC_CONNECTION_PROTOCOL') }}"
Environment="CELESTIA_RPC_CONNECTION_HOSTNAME={{ celestia_rpc_connection_hostname | default_lookup('env', 'CELESTIA_RPC_CONNECTION_HOSTNAME') }}"
Environment="CELESTIA_RPC_CONNECTION_PORT={{ celestia_rpc_connection_port | default_lookup('env', 'CELESTIA_RPC_CONNECTION_PORT') }}"
Environment="CELESTIA_WEBSOCKET_CONNECTION_PROTOCOL={{ celestia_websocket_connection_protocol | default_lookup('env', 'CELESTIA_WEBSOCKET_CONNECTION_PROTOCOL') }}"
Environment="CELESTIA_WEBSOCKET_CONNECTION_HOSTNAME={{ celestia_websocket_connection_hostname | default_lookup('env', 'CELESTIA_WEBSOCKET_CONNECTION_HOSTNAME') }}"
Environment="CELESTIA_WEBSOCKET_CONNECTION_PORT={{ celestia_websocket_connection_port | default_lookup('env', 'CELESTIA_WEBSOCKET_CONNECTION_PORT') }}"
ExecStart=/usr/bin/docker compose --env-file .env -f /home/{{ user }}/movement/docker/compose/suzuka-full-node/docker-compose.yml -f /home/{{ user }}/movement/docker/compose/suzuka-full-node/docker-compose.remote-no-celestia-light.yml -f /home/{{ user }}/movement/docker/compose/suzuka-full-node/docker-compose.faucet-replicas.yml up --force-recreate --remove-orphans
Restart=on-failure

[Install]
WantedBy=multi-user.target