[package]
name = "da-sequencer-node"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
movement-da-sequencer-node = { workspace = true }

[lints]
workspace = true
