services:
  monza-full-node:
    image: mvlbs/movement:{{ rev }}
    container_name: monza-full-node-monolith
    ports:
      - "30370:30730" # m1 da light node rpc
      - "30371:30731" # aptos api
      - "30372:30732" # aptos faucet
    environment:
      - CARGO_PROFILE=release
      - MOVEMENT_PREBUILT=true
    command: ["nix", "--extra-experimental-features", "nix-command flakes", "develop", "--command", "just", "monza-full-node", "local", "-t=false"]
    volumes:
      - {{ dot_movement }}:/app/.movement