[package]
name = "bridge-indexer-db"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

[dependencies]
diesel = { workspace = true, features = ["postgres", "numeric", "r2d2", "chrono"] }
diesel_migrations = { workspace = true }
bigdecimal = { workspace = true }
serde = { workspace = true }
bridge-util = { workspace = true }
bridge-config = { workspace = true }
anyhow = { workspace = true }
hex = { workspace = true }
chrono = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }

[features]
default = []

[lints]
workspace = true
