services:
  setup:
    image: ghcr.io/movementlabsxyz/movement-full-node-setup:${CONTAINER_REV}
    container_name: setup
    environment:
      DOT_MOVEMENT_PATH: /.movement
      MAYBE_RUN_LOCAL: "false"
      RUST_LOG: info,aws_sdk_s3=debug
    volumes:
      - ${DOT_MOVEMENT_PATH}:/.movement
      # mount if exists
      - ~/.aws/:/root/.aws:ro

    healthcheck:
      test: [ "CMD-SHELL", "echo 'health check'" ]
      retries: 10
      interval: 10s
      timeout: 5s

