[package]
name = "movement-signer-hashicorp-vault"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

[dependencies]
movement-signer = { workspace = true }
vaultrs = { workspace = true }

[lints]
workspace = true
