[package]
name = "signer"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
publish.workspace = true
rust-version.workspace = true

[dependencies]
thiserror = { workspace = true }
async-trait = { workspace = true }
ed25519 = { workspace = true }
ring-compat = { workspace = true }
k256 = { workspace = true, features = ["ecdsa"] }
anyhow = { workspace = true }


[lints]
workspace = true
