[package]
name = "movement-client"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

### define here all scenarios execution binaries 
[[bin]]
name = "demo_scenario"
path = "src/bin/e2e/demo_scenario.rs"

[[bin]]
name = "movement-tests-e2e-load-alice-bob"
path = "src/bin/e2e/load_alice_bob.rs"

[[bin]]
name = "movement-tests-e2e-soak-alice-bob"
path = "src/bin/e2e/soak_alice_bob.rs"

[[bin]]
name = "bardock-tests-load-soak-basic"
path = "src/bin/e2e/bardock_alice_bob.rs"

[[bin]]
name = "movement-tests-e2e-simple-interaction"
path = "src/bin/e2e/simple_interaction.rs"

[[bin]]
name = "movement-tests-gas-dos"
path = "src/bin/e2e/gas_dos.rs"

[[bin]]
name = "movement-tests-e2e-followers-consistent"
path = "src/bin/e2e/followers_consistent.rs"

[[bin]]
name = "movement-tests-e2e-whitelist"
path = "src/bin/e2e/whitelist.rs"

[[bin]]
name = "movement-tests-e2e-ggp-gas-fee"
path = "src/bin/e2e/ggp_gas_fee.rs"

[[bin]]
name = "movement-tests-e2e-transfer"
path = "src/bin/e2e/transfer.rs"

[[bin]]
name = "movement-tests-e2e-key-rotation"
path = "src/bin/e2e/key_rotation.rs"

[[bin]]
name = "movement-tests-sequence-number-ooo"
path = "src/bin/e2e/sequence_number_ooo.rs"

[[bin]]
name = "movement-tests-cli-key-rotation-resource"
path = "src/bin/e2e/cli_key_rotation_resource.rs"


[dependencies]
aptos-language-e2e-tests = { workspace = true }
aptos-sdk = { workspace = true }
aptos-types = { workspace = true }
aptos-crypto = { workspace = true }
ed25519-dalek = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true, default-features = true }
maptos-execution-util = { workspace = true }
once_cell = { workspace = true }
tokio = { workspace = true }
rand = { workspace = true }
commander = { workspace = true }
buildtime-helpers = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
chrono = { workspace = true }
bcs = { workspace = true }
rayon = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter", "json"] }
movement-tracing = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
reqwest = { workspace = true }
mcr-settlement-client = { workspace = true }
movement-config = { workspace = true }
dot-movement = { workspace = true }
tonic = { workspace = true }
movement-da-light-node-client = { workspace = true }
movement-da-light-node-proto = { workspace = true, features = ["client"] }
movement-types = { workspace = true }
hex = { workspace = true }

[dev-dependencies]
reqwest = { workspace = true }
serde_json = { workspace = true }

maptos-execution-util = { workspace = true }
mcr-settlement-client = { workspace = true }
movement-config = { workspace = true }
dot-movement = { workspace = true }
aptos-protos = { workspace = true }
tracing-test = { workspace = true }

[lints]
workspace = true
