[package]
name = "movement-full-node"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
maptos-dof-execution = { workspace = true }
prost = { workspace = true }
movement-da-light-node-grpc = { workspace = true }
movement-celestia-da-util = { workspace = true }
mcr-settlement-client = { workspace = true, features = ["mock"] }
mcr-settlement-manager = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
sha2 = { workspace = true }
tonic = { workspace = true }
movement-types = { workspace = true }
movement-rest = { workspace = true }
movement-tracing = { workspace = true }
movement-config = { workspace = true }
dot-movement = { workspace = true }
godfig = { workspace = true }
tracing-subscriber = { workspace = true }
console-subscriber = { workspace = true }
rocksdb = { workspace = true }
tracing = { workspace = true }
bcs = { workspace = true }
zstd = { workspace = true }
hyper = { workspace = true }
hex = { workspace = true }

[features]
default = []
logging = []


[lints]
workspace = true
