[package]
name = "movement-signer-aws-kms"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
publish = { workspace = true }
rust-version = { workspace = true }

[dependencies]
movement-signer = { workspace = true }
aws-sdk-kms = { workspace = true }
aws-config = { workspace = true }
anyhow = { workspace = true }

[lints]
workspace = true
