[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ffi = true
gas_limit = 10000000

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
