[package]
name = "bridge-service"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
publish.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow = { workspace = true }
async-trait = "0.1.80"
delegate = "0.12.0"
derive_more = { workspace = true, features = ["deref", "deref_mut"] }
futures.workspace = true
futures-timer = "3.0.3"
hex = { workspace = true }
thiserror.workspace = true
tokio = { workspace = true, version = "1.0.1", features = ["full"] }
tokio-stream = "0.1.16"
tracing.workspace = true
rand.workspace = true
rand_chacha = "0.2.2"
futures-time = "3.0.0"
alloy = { workspace = true, features = [
  "full",
  "rpc",
  "rpc-types",
  "serde",
  "rlp",
  "contract",
  "sol-types",
] }
alloy-network = { workspace = true }
alloy-rlp.workspace = true
keccak-hash = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_with.workspace = true
url = { workspace = true, features = ["serde"] }
tonic = { workspace = true }
tracing-subscriber = { workspace = true }

aptos-sdk = { workspace = true }
aptos-api-types = { workspace = true }
aptos-types = { workspace = true }
aptos-api = { workspace = true }
serde_json = { workspace = true }
bcs = { workspace = true }
derive-new = { workspace = true }
async-stream = { workspace = true }

#To be removed after send_transaction refactor
bridge-grpc = { workspace = true, features = ["server"] }
mcr-settlement-client = { workspace = true }
bridge-config = { workspace = true }
godfig = { workspace = true }
dot-movement = { workspace = true }


[lints]
#workspace = true
