name: Build Push Containers

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:

  m1-da-light-node-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image m1-da-light-node

  m1-da-light-node-manifest:
    permissions:
      contents: read
      packages: write
    needs: m1-da-light-node-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest m1-da-light-node

  m1-da-light-node-celestia-appd-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image m1-da-light-node-celestia-appd

  m1-da-light-node-celestia-appd-manifest:
    permissions:
      contents: read
      packages: write
    needs: m1-da-light-node-celestia-appd-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest m1-da-light-node-celestia-appd

  m1-da-light-node-celestia-bridge-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image m1-da-light-node-celestia-bridge

  m1-da-light-node-celestia-bridge-manifest:
    permissions:
      contents: read
      packages: write
    needs: m1-da-light-node-celestia-bridge-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest m1-da-light-node-celestia-bridge

  suzuka-full-node-setup-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image suzuka-full-node-setup

  suzuka-full-node-setup-manifest:
    permissions:
      contents: read
      packages: write
    needs: suzuka-full-node-setup-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest suzuka-full-node-setup

  wait-for-celestia-light-node-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image wait-for-celestia-light-node

  wait-for-celestia-light-node-manifest:
    permissions:
      contents: read
      packages: write
    needs: wait-for-celestia-light-node-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest wait-for-celestia-light-node

  suzuka-full-node-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image suzuka-full-node

  suzuka-full-node-manifest:
    permissions:
      contents: read
      packages: write
    needs: suzuka-full-node-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest suzuka-full-node

  suzuka-faucet-service-build:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image suzuka-faucet-service

  suzuka-faucet-service-manifest:
    permissions:
      contents: read
      packages: write
    needs: suzuka-faucet-service-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest suzuka-faucet-service

  suzuka-client-e2e-simple-interaction-build:
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        architecture: [x86_64, arm64]
        
    runs-on: ${{ matrix.architecture == 'x86_64' && 'buildjet-8vcpu-ubuntu-2204' || 'buildjet-8vcpu-ubuntu-2204-arm' }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to Docker Hub to Avoid Rate Limiting
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and Push Docker image movement
      run: |
        ./scripts/movement/build-push-image suzuka-client-e2e-simple-interaction

  suzuka-client-e2e-simple-interaction-manifest:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    needs: suzuka-client-e2e-simple-interaction-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub to Avoid Rate Limiting
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker image movement
        run: |
          ./scripts/movement/manifest suzuka-client-e2e-simple-interaction
  
  container-checks:
    if: github.event.label.name == 'cicd:suzuka-containers' ||  github.ref == 'refs/heads/main'
    runs-on: buildjet-8vcpu-ubuntu-2204
    needs: 
      - m1-da-light-node-manifest
      - m1-da-light-node-celestia-appd-manifest
      - m1-da-light-node-celestia-bridge-manifest
      - suzuka-full-node-setup-manifest
      - wait-for-celestia-light-node-manifest
      - suzuka-full-node-manifest
      - suzuka-faucet-service-manifest
      - suzuka-client-e2e-simple-interaction-manifest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
  
      - name: Read the commit SHA
        id: vars
        run: echo "CONTAINER_REV=${{ github.sha }}" >> .env

      - name: Display .env file
        run: cat .env

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
  
  
      - name: Install docker-ce-cli
        run: |
          sudo apt-get install -y docker-ce-cli
  
      - name: Verify Docker Installation
        run: |
          docker compose version
          docker --version
          docker version

      - name: Run docker-compose local.setup.test
        run: |
          nix develop --command bash  -c "just container-test"  
          # run again to test restarts
          # nix develop --command bash  -c "just container-test"  

      - name: Add container to release
        run: |
          RELEASE_TAG=$(./scripts/movement/release-name)
          REPO=${{ github.repository }}

          # Check if the release already exists
          EXISTING_RELEASE=$(gh release view "$RELEASE_TAG" --repo "$REPO" --json tagName --jq '.tagName' 2>/dev/null)

          # If the release exists, delete it
          if [ "$EXISTING_RELEASE" == "$RELEASE_TAG" ]; then
              echo "Release $RELEASE_TAG already exists. Deleting it..."
              gh release delete "$RELEASE_TAG" --repo "$REPO" -y
          fi

          gh release create "$RELEASE_TAG" --repo "$REPO" --notes "Updated release $RELEASE_TAG" --target ${{ github.sha }}
