@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TWK Everett';
  src: url('/fonts/TWKEverett/TWKEverett-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TWK Everett Mono';
  src: url('/fonts/TWKEverettMono/TWKEverettMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  font-family: 'TWK Everett', sans-serif;
}

.mono {
  font-family: 'TWK Everett Mono', monospace;
}

.rotate:hover {
  transform: rotate( -180deg );            
  transition: transform 150ms ease;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
